<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:enableOnBackInvokedCallback="true"
        android:theme="@style/Theme.ProjectBookingTicket"
        tools:targetApi="33">
        <activity
            android:name=".BookingDetailActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentStatusActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".BookingActivity"
            android:exported="false" />
        <activity
            android:name=".PemilihanTiketActivity"
            android:exported="false" />
        <activity
            android:name=".searchticket.TypeFlightActivity"
            android:exported="false" />
        <activity
            android:name=".searchticket.AirportActivity"
            android:exported="false"/>
        <activity
            android:name=".searchticket.SearchTicketActivity"
            android:exported="false" />
        <activity
            android:name=".notification.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="@string/host_url" />
                <data android:pathPrefix="/api/register/verification/" />
                <data android:pathPattern="/api/register/verification/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".forgotpassword.LupaPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".resetpassword.ResetPasswordActivity"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="@string/host_url" />
                <data android:pathPrefix="/api/forget-password/verification/" />
                <data android:pathPattern="/api/forget-password/verification/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.app.imagepickerlibrary.ui.activity.ImagePickerActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/SSImagePicker" />
    </application>

</manifest>